{% extends '_layout.html' %}

{% block content %}

<div class="jumbotron mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://via.placeholder.com/400x400" alt="placeholder" class="img-thumbnail">
            </div>
            <div class="col-md-8">
                <h1 class="display-4 text-center">Tidy Tidy Tidy</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat enim dictum ex iaculis, eget iaculis libero cursus. Nullam a pretium est, ac sagittis arcu.                            
                </p>  
                <div class="text-center mt-5">
                    <a href="#" class="btn btn-primary btn-lg mr-3">BnB Listings</a>
                    <a href="#" class="btn btn-secondary btn-lg">Available maids</a>
                </div>
            </div>
        </div>    
    </div>
</div>

{% endblock content %}