{% extends '_layout.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <h2 class="mt-1 display-4">
                {{ title }}
            </h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="d-inline card-title">{{ title }} Listings</h5>
                </div>
                <div class="card-body">
                    {% if maidplans|length > 0 %}
                        <table class="table striped">
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Summary</th>
                                <th></th>
                            </tr>

                            {% for plan in maidplans %}
                                <tr>
                                    <td>{{ plan.id }}</td>
                                    <td>
                                        {{ plan.title }}
                                    </td>
                                    <td>
                                        {{ plan.summary }}
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-success">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                    {% else %}
                        <span class="display-4 text-info">No plans in the database</span>
                    {% endif %}
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn btn-primary">Add New Plan</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}