{% extends '_layout.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <h2 class="mt-1 display-4">
                {{ title }}
            </h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="d-inline card-title">Schedule Listings</h5>
                </div>
                <div class="card-body">
                    {% if schedules|length > 0 %}
                        <table class="table striped">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Edit</th>
                            </tr>

                            {% for sched in schedules %}
                                <tr>
                                    <td>{{ sched.id }}</td>
                                    <td>
                                        {{ sched.schedule_name }}
                                    </td>
                                    <td>
                                        {{ sched.schedule_date.strftime('%m/%d/%Y') }}
                                    </td>
                                    <td>
                                        {{ sched.start_time.strftime("%I:%M %p") }}
                                    </td>
                                    <td>
                                        {{ sched.end_time.strftime("%I:%M %p") }}
                                    </td>
                                    <td>
                                        <a href="{{ url_for("editschedule", id=sched.id) }}" class="btn btn-success">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                    {% else %}
                        <span class="display-4 text-info">No Schedules in the database</span>
                    {% endif %}
                </div>
                <div class="card-footer text-right">
                    <a href="{{ url_for("addschedule") }}" class="btn btn-primary">Add New Schedule</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}